<%- include('../partials/head.ejs'); %>
  <%- include('../partials/navbar.ejs'); %>
    <div class="container text-center bg-light shadow p-5">
        <div class="row">
            <div class="col-md-12 p-4">
                <h4 class="text-left pb-3">Comprovante de Doação</h4>      
                    <p class="fst-normal"> <%- comprovanteDoacao %></p>
                    <input type="button" class = "btn btn-secondary" value="Imprimir" onClick="window.print()"/>
            </div>
        </div>  <br>
    </div>
<%- include('../partials/footer.ejs'); %>