<footer class="container-fluid py-4" style="background-color: rgb(37, 37, 82);">
    <p class="text-center text-light">José Henrique dos Santos Nogueira &copy; 2020 Instituto Federal de Rondônia, IFRO.</p>
  </footer>
</body>
<script type="text/javascript" src="../../js/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="../../js/popper.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
</html>