<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgb(37, 37, 82);">
    <a class="navbar-brand pl-4 myNav" href="/">
      <img src="/img/logos/logo-azul-claro.png" width="50" height="50" alt="logo">
        Casa - Filhos de Hiram
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center myNav" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active m-2" id="liPersonalizada">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item m-2" id="liPersonalizada">
          <a class="nav-link" href="/sobre">Quem Somos</a>
        </li>
        <li class="nav-item m-2" id="liPersonalizada">
          <a class="nav-link" href="/contato">Fale Conosco</a>
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-end">    
        <a class="btn btn-lg btn-outline-success rounded-0" href="/doar">Doe aqui</a>
    </div>
  </nav>