<%- include('./partials/head.ejs'); %>
  <%- include('./partials/navbar.ejs'); %>
  <section class="container bg-light shadow p-5">
      <h1 class="display-5 text-info text-center p-3">FALE CONOSCO<hr></h1>
    <div class="row p-3">
      <div class="col-lg-6">
        <form class="rounded p-4 box-shadow rounded-0" style="background-color: #E1E8D9;" method="POST" action="#">
          <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" name="nome" required>
          </div>
          <div class="form-group">
            <label for="clienteEmail">E-mail</label>
            <input type="email" class="form-control" name="email">
          </div>
          <div class="form-group">
            <label for="clienteMensagem">Mensagem</label>
            <textarea type="text" class="form-control" rows="4" name="mensagem"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
        </form>
      </div>
      <div class="col-lg-6">
        <div class="col-lg-12">
          <h2 class="h6">NOSSO ENDEREÇO</h2>
          <p class="h6 text-secondary pt-1">Rua: Tabajara, 2651 - Liberdade, Porto Velho-RO.</p>
          <a href="#">
            <iframe class="img-fluid box-shadow rounded mb-4" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3943.41100034458!2d-63.89327935020951!3d-8.747343291655739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92325ccb2ba55f4f%3A0xfd3894bb47fa5cad!2sGlomaron!5e0!3m2!1spt-BR!2sbr!4v1602536177367!5m2!1spt-BR!2sbr" width="600" height="300" 
            frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </a> 
        </div>
        <div class="row">
          <div class="col-lg-6">                             
            <h2 class="h6">DADOS DE CONTATO</h2>
            <ul class="list-unstyled text-secondary">
              <li>casadeapoio@glomaron.org.br</li>
              <li>(69) 3223-1172</li>
              <li>De Seg. à Sex. das 8h às 18h</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <h2 class="h6">REDES SOCIAIS</h2>
            <ul class="list-unstyled" style="max-width: 260px">
              <li><a class="btn btn-outline-secondary btn-sm btn-block mb-2" href="#" >Facebook</a></li>
              <li><a class="btn btn-outline-secondary btn-sm btn-block mb-2" href="#">WhatsApp</a></li>
              <li><a class="btn btn-outline-secondary btn-sm btn-block mb-2" href="#">Youtube</a></li>
            </ul>
          </div>
        </div>  
      </div>
    </div>
  </section>       
<%- include('./partials/footer.ejs'); %>