<%- include('./partials/head.ejs'); %>
  <%- include('./partials/navbar.ejs'); %>
    <div class="container bg-light shadow p-5">
        <div class=" p-4 text-center">
            <h1 class="display-5 text-info text-center p-2">FAÇA SUA DOAÇÃO</h1>
        </div>      
          <div class="row">
            <div class="col-md-12 order-md-1 p-4">
              <h4 class="mb-3">Dados pessoais <hr></h4>
              <br>
              <form class="needs-validation" novalidate>
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <label for="firstName">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Jhon" value="" required>
                    <div class="invalid-feedback">
                      campo inválido.
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                      <label for="firstName">Sobrenome</label>
                      <input type="text" class="form-control" id="sobre" placeholder="da Silva" value="" required>
                      <div class="invalid-feedback">
                        campo inválido.
                      </div>
                  </div>
                  <div class="col-md-4 mb-3">
                      <label for="firstName">CPF</label>
                      <input type="number" class="form-control" id="firstName" placeholder="apenas números" value="" required>
                      <div class="invalid-feedback">
                        CPF inválido.
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 mb-3">
                      <label for="email">Data de Nascimento</label>
                      <input type="date" class="form-control" id="dataNascimento" placeholder="DD/MM/YYYY" value="" required>
                      <div class="invalid-feedback">
                          campo inválido.
                        </div>
                  </div>
                  <div class="col-md-4 mb-3">
                      <label for="email">Email<span class="text-muted">(Opcional)</span></label>
                      <input type="email" class="form-control" id="email" placeholder="you@example.com">
                      <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                      </div>
                  </div>
                  <div class="col-md-4 mb-3">
                      <label for="email">Telefone<span class="text-muted"> (Opcional)</span></label>
                      <input type="email" class="form-control" id="email" placeholder="(69)4002-8922">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                      <label for="address">Endereço 1</label>
                      <input type="text" class="form-control" id="address" placeholder="Rua Herbert Daniel, 1946 - Bairro Lapa " required>
                      <div class="invalid-feedback">
                        Por favor, digite seu endereço.
                      </div>
                  </div>
                  <div class="col-md-6 mb-3">
                      <label for="address">Endereço 2<span class="text-muted">(Opcional)</span></label>
                      <input type="text" class="form-control" id="address" placeholder="">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 mb-3">
                      <label for="country">País</label>
                      <select class="custom-select d-block w-100" id="cidade" required>
                        <option selected disabled>Selecione</option>
                        <option>Brasil</option>
                      </select>
                      <div class="invalid-feedback">
                        Por favor, selecione uma opção.
                      </div>
                  </div>
                  <div class="col-md-4 mb-3">
                      <label for="country">Estado</label>
                      <select class="custom-select d-block w-100" id="cidade" required>
                          <option selected disabled>Selecione</option>
                          <option>Rondônia</option>
                      </select>
                      <div class="invalid-feedback">
                        Por favor, selecione uma opção.
                      </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="country">Cidade</label>
                    <select class="custom-select d-block w-100" id="cidade" required>
                      <option selected disabled>Selecione</option>
                      <option>Porto Velho</option>
                    </select>
                    <div class="invalid-feedback">
                      Por favor, selecione uma opção.
                    </div>
                  </div>
                </div>
                <br>
                <h4 class="mb-3">Pagamento<hr></h4>
        
                <div class="d-block my-3">
                    <a class="btn btn-primary" data-toggle="collapse" href="#cartaoCredito" role="button" aria-expanded="false" aria-controls="cartaoCredito" id="btn-first">
                      Cartão de Crédito
                    </a>
                    <a class="btn btn-primary" data-toggle="collapse" href="#cartaoDebito" role="button" aria-expanded="false" aria-controls="cartaoDebito" id="btn-second">
                      Cartão de Débito
                    </a>              
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#paypal" aria-expanded="false" aria-controls="paypal" id="btn-third">
                      Paypal
                    </button>
                </div>

                <!--Inserindo linhas para selecionar formas de pagamentos-->
                <div class="row">
                  <!-- Pagamento com cartão de crédito -->
                  <div class="collapse" id="cartaoCredito">
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="cc-name" class="">Títular do Cartão</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required>
                        <small class="text-muted">Nome igual ao escrito no cartão</small>
                          <div class="invalid-feedback">
                            Campo inválido
                          </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="cc-number" class="">Número do Cartão</label>
                        <input type="text" name="HolderName" class="form-control " id="HolderName" placeholder="" required>
                          <div class="invalid-feedback">
                            Campo inválido
                          </div>
                      </div>
                      <div class="col-md-3 mb-3">
                          <label for="cc-expiration" class="">Data de Validade</label>
                          <input type="text" class="form-control " id="cc-expiration" placeholder="MM/AA" required>
                            <div class="invalid-feedback ">
                              Campo inválido
                            </div>
                      </div>
                      <div class="col-md-3 mb-3">
                          <label for="cc-cvv" class="">Código de Segurança</label>
                          <input type="text" class="form-control " id="cc-cvv" placeholder="CVV" maxlength="3" value="123" required>
                            <div class="invalid-feedback ">
                              Campo inválido
                            </div>
                      </div>
                  </div>
                    
                  </div>
                   <!-- Pagamento com cartão de débito -->
                  <div class="collapse" id="cartaoDebito">
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="cc-name" class="">Títular do Cartão</label>
                        <input type="text" class="form-control eft" id="cc-name" placeholder="" required>
                        <small class="text-muted">Nome igual ao escrito no cartão</small>
                          <div class="invalid-feedback ">
                            Campo inválido
                          </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="cc-number" class="">Número do Cartão</label>
                        <input type="text" name="HolderName" class="form-control " id="HolderName" placeholder="" required>
                          <div class="invalid-feedback ">
                            Campo inválido
                          </div>
                      </div>
                      <div class="col-md-3 mb-3">
                          <label for="cc-expiration" class="">Data de Validade</label>
                          <input type="text" class="form-control " id="cc-expiration" placeholder="MM/AA" required>
                            <div class="invalid-feedback ">
                              Campo inválido
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                          <label for="cc-cvv" class="">Código de Segurança</label>
                          <input type="text" class="form-control " id="cc-cvv" placeholder="CVV" maxlength="3" value="123" required>
                            <div class="invalid-feedback ">
                              Campo inválido
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="collapse" id="paypal">
                    <div class="col-md-12 mb-3">
                      <br>   
                       Para fazer sua doação via Paypal <a href="https://www.paypal.com/br" class="btn btn-sm btn-outline-primary" target="_blank">Clique aqui</a>
                       <br>   
                    </div>
                  </div>
                </div>
                <hr class="mb-4">
                  <button class="btn btn-success btn-lg btn-block" type="submit">DOAR</button>
              </form>
            </div>
          </div>
    </div>
<%- include('./partials/footer.ejs'); %>