<%- include('./partials/head.ejs'); %>
  <%- include('./partials/navbar.ejs'); %>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/img/img4.png" class="d-block w-100 imagem-carrossel">
            <div class="container">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="text-xl-left font-weight-bolder" style="-webkit-text-stroke: 0.25px; -webkit-text-stroke-color: lightblue;">Conheça nosso projeto e faça sua doação</h5>
                <p class="text-left"><a class="btn btn-lg btn-primary" href="/doar" role="button">Clique aqui</a></p>
              </div>
            </div>
        </div>
        <div class="carousel-item">
          <img src="/img/img7.png" class="d-block w-100 imagem-carrossel" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <div class="container">
              <p class="text-center"><a class="btn btn-lg btn-primary" href="/doar" role="button">Faça sua doação aqui</a></p>
            </div> 
          </div>
        </div>
        <div class="carousel-item">
          <img src="/img/principal.png" class="d-block w-100 imagem-carrossel" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <p class="text-right"><a class="btn btn-lg btn-primary" href="/doar" role="button">Colabore</a></p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="container pt-5 bg-light">
      <div class="row">
        <div class="col-md-4">
          <img id="logo" class="img-responsive img-circle center-block" alt="Casa de apoio" width="400" height="400" src="/img/logos/logo-azul-marinho.png" alt="logo da casa de apoio">
        </div>
          <div class="col-md-8">
              <h2 class="section-header">Conheça nosso projeto</h2>
              <hr>
              <p>A Casa de Apoio Filhos de Hiram é uma entidade sem fins lucrativos, que por meio de doações e recursos, será construída ao lado
                do Hospital de Câncer da Amazônia, e oferecerá hospedagem aos pacientes de outros municípios ou estados,
                que virão em tratamento para esta unidade de saúde. E disponibilizará um ambiente de repouso com muito
                conforto e de forma gratuita àqueles que lutam contra o Câncer.</p>
                <p class="text-right"><a class="btn btn-secondary" href="/sobre">Saiba mais</a> </p>           
          </div>               
        </div>
        <div class="row p-5">
          <div class="col-md-5">
            <h4>A casa de Apoio</h4>
            <hr>
            <p>
              A Casa de Apoio Filhos de Hiram visa atender pacientes em tratamento no Hospital de Amor Amazônia em Porto Velho.
              Uma iniciativa da Grande Loja Maçônica do Estado de Rondônia (GLOMARON). 
            </p>
          </div>
          <div class="col-md-7">
            <video width="400" controls>
              <source src="/img/casa-apresentacao.mp4" type="video/mp4">
            </video>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            
          </div>
        </div>
    </div>
    <section class="container bg-light">
      <div class="p-4 text-center">
          <h2 class="text-dark">Perguntas Frequentes <hr></h2>
      </div>
      <div class="row justify-content-center">
          <div class="col-md-6" id="perguntasFrequentes" data-children=".pergunta">
              <div class="pergunta py-2">
                  <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta1" aria-expanded="true" aria-controls="pergunta1">→ Quem é o grupo/instituição responsável pelo projeto?</a>
                  <div id="pergunta1" class="collapse" role="tabpanel">
                      <p>Francimar Dias Rodrigues (Presidente), Aldino Brasil de Souza (Presidente do Conselho) e Angelo ALmério de Melo Baleeiro (Secretário).</p>
                  </div>
              </div>
              <div class="dropdown-divider"></div>
              <div class="pergunta py-2">
                  <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta2" aria-expanded="true" aria-controls="pergunta2">→ Qual é o principal objetivo?</a>
                  <div id="pergunta2" class="collapse" role="tabpanel">
                      <p>O projeto visa construir uma casa de apoio que atenderá pacientes e familiares oriundos de outros municípios e Estados, que estarão em tratamento no Hospital de Câncer da Amazônia.</p>
                  </div>
              </div>
              <div class="dropdown-divider"></div>
              <div class="pergunta py-2">
                  <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta3" aria-expanded="true" aria-controls="pergunta3">→ Quem é o públivo-alvo?</a>
                  <div id="pergunta3" class="collapse" role="tabpanel">
                      <p>Pacientes e seus acompanhantes que estão fazendo tratamento no Hospital do Câncer da Amazônia.</p>
                  </div>
              </div>
              <div class="dropdown-divider"></div>
              <div class="pergunta py-2">
                  <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta4" aria-expanded="true" aria-controls="pergunta4">→ Qual é o endereço?</a>
                  <div id="pergunta4" class="collapse" role="tabpanel">
                      <p>Km 17, BR 364, próximo ao Hospital de Câncer da Amazônia.</p>
                  </div>
              </div>
              <div class="dropdown-divider"></div>
              <div class="pergunta py-2">
                  <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta5" aria-expanded="true" aria-controls="pergunta5">→ Como é feita a escolha do quarto?</a>
                  <div id="pergunta5" class="collapse" role="tabpanel">
                      <p> De acordo com a disponibilidade.</p>
                  </div>
              </div>
              <div class="dropdown-divider"></div>
          </div>
      </div>
      <div class="text-center my-4">
          <h5 class="small m-1">AINDA ESTÁ COM DÚVIDAS?</h5>
          <a class="btn btn-info btn-lg" href="/contato">Entre em Contato</a>
      </div>
      <br>
  </section>
  <%- include('./partials/footer.ejs'); %>
  
