<%- include('./partials/head.ejs'); %>
  <%- include('./partials/navbar.ejs'); %>
    <div class="container text-center bg-light shadow p-5">
      <h1 class="display-5 text-info p-3 text-center">QUEM SOMOS<hr></h1>
        <div class="row">
          <div class="col-md-12 p-4">
              <h4 class="text-left pb-3">Descrição detalhada sobre a Casa de Apoio</h4>
                <p>A Casa de Apoio Filhos de Hiram é uma entidade sem fins lucrativos, que por meio de doações e recursos, 
                  será construída ao lado do Hospital do Amor da Amazônia, e oferecerá hospedagem aos pacientes de outros municípios 
                  ou estados, que virão em tratamento para esta unidade de saúde. E disponibilizará um ambiente de repouso com muito 
                  conforto e de forma gratuita àqueles que lutam contra o Câncer.</p>
                <p>A Casa estará à disposição de toda a comunidade que estiver em tratamento no Hospital do Amor da Amazônia,
                limitado à capacidade de 61 apartamentos com duas camas, todos com banheiro e com acessibilidade, sendo 12 reservados
                para crianças. Só serão admitidos hóspedes com acompanhantes, portando a privacidade é de 100%. Isto se traduz em conforto.</p>
                <p>Além do espaço de atendimento aos pacientes e seus respectivos acompanhantes, será realizado um projeto de paisagismo no local,
                    para que a estadia se torne o mais agradável possível. Ao fundo, será formado um bosque com árvores frutíferas da região e uma horta, 
                    onde os hóspedes poderão plantar e colher verduras para suas refeições.</p>
                <p>Além da hospedagem, estará à disposição uma ampla cozinha com refeitório, área para lavar louças e panelas, lavanderia, dispensa, duas salas
                    de tv, uma sacada com solarium, uma capela ecumênica para os momentos de necessidade de estar mais perto de Deus, uma rampa e três escadas
                    para acesso ao piso superior, espelhos d'água para controle da umidade e uma ampla recepção.
                </p>
                <p> Uma ampla área de convivência foi pensada para os momentos de lazer, com duas áreas verdes internas todas rodeadas por varandas. Extensa área de bosque 
                    com árvores frutíferas e muita sombra, uma horta para uso comunitário e uma sacada na frente da casa para se apreciar o lindo pôr do sol de Rondônia.
                </p>
          </div>
          <div class="col-md-12 p-3">
            <h4 class="text-left pb-3">Equipe</h4>
            <p>A equipe responsável é composta pelo presidente da Casa de Apoio <b>Francimar Dias Rodrigues</b>, o presidente
          do conselho da Casa de Apoio, <b>Aldino Brasil de Souza</b> e o secretário <b>Almérico de Melo Baleiro</b>.</p>
        </div>
        </div> <br>
        <div class="row">
            <div class="col-md-4">
                <h5 class="text-center m-4">MISSÃO</h5>
                <p>Promover a transformação do ser humano, trabalhando no aperfeiçoamento moral, intelectual e espiritual dos maçons, 
                    através do estudo dos símbolos, alegorias e da filosofia maçônica, difundindo conceitos de liberdade, igualdade, fraternidade e 
                    justiça social.
                </p>
            </div>
            <div class="col-md-4 bg-light">
                <h5 class="text-center m-4">VISÃO</h5>
                <p>Ser referência nacional em protagonismo maçônico voltado à modernidade administrativa e propagação dos conceitos de liberdade,
                igualdade, fraternidade e justiça social, almejando o progressivo bem-estar da humanidade.</p>
            </div>
            <div class="col-md-4 bg-light">
                <h5 class="text-center m-4">VALORES</h5>
                <p>Se utilizar de sistemas modernos de administração, tecnologia, educação e docência incrementando o progresso e desenvolvimento da 
                    Maçonaria na jurisdição, pugnando pelo aperfeiçoamento moral, intelectual, espiritual e social da família maçônica, das Lojas e da humanidade, 
                    atuando na sociedade com princípios morais e éticos, preservando os valores da família maçônica e o respeito à dignidade das pessoas e das 
                    organizações, defendendo a liberdade, os direitos humanos e a justiça social administrada a todos.</p>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs'); %>